#root {
  margin: 0 auto;
  text-align: center;
  font-size: large;
}

.navbar {
  cursor: default;
}

.header {
  width: 100vw;
  min-height: 75px;
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}


#hero {
  padding-top: 100px;
  padding-left: 0;
  min-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#hero h1{
  padding-left: 10px;
  padding-right: 10px;
}

.aboutMe {
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.headshot {
  border-radius: 15px;
  max-width: 60%;
  height: auto;
}

.experience {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  background-color: #f5f5f5;
}

.socalLogo {
  max-width: 70%;
  height: auto;
}
.epicLogo {
  max-width: 50%;
  height: auto;
}

.cbuLogo {
  max-width: 60%;
  height: auto;
  padding-top: 80px;
}

#scmhCopy h4{
  padding-top: 30px;
}

#aboutPara p{
  padding-top: 50px;
}

.passions {
  padding-top: 50px;
}

#passionsCopy {
  padding-top: 50px;
}

#tikTokEmbed {
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer {
  height: 80px;
}

#footerImg{
  padding-top: 9px;
}


